<div class="login-component">

  <form>

    <div class="row">
      <div class="col">
        <input type="text" placeholder="First name">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input type="text" placeholder="Last name">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input type="text" placeholder="Email">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input type="password" placeholder="Password">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn">Submit</button>
      </div>
    </div>
  </form>

</div>
