<div class="login-component">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col">
        <input type="text" placeholder="First name*" formControlName="firstName">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input type="text" placeholder="Last name*" formControlName="lastName">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input type="text" placeholder="Email*" formControlName="emailAddress">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input type="password" placeholder="Password*" formControlName="password">
        <div class="password-hint">
          Your password must contain:
          <ul>
            <li>1 UPPERCASE character</li>
            <li>1 lowercase character</li>
            <li>8 or more characters</li>
            <li>May not contain your first or last name</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn" [disabled]="!loginForm.valid">Submit</button>
      </div>
    </div>
  </form>

</div>
